page-maps {
    #password {
        background: color($colors, white);
        width: 95%;
    }
    agm-map {
        height: 400px;
        width: 320px;
        position: absolute;
        left: 0;
        bottom: 5;
    }
    map {
        height: 400px;
    }
}